
   
    {% extends "layout.html" %}
    {% block title %}Add Invoice Lines{% endblock %}
    {% block content %}  

<div class="formbold-main-wrapper">
        

        <div class="formbold-form-wrapper">

          <h1 class="title">Add Invoice Lines</h1>
       
          <form  method="POST" action="{{url_for('invoice_lines_page')}}">
            <div class="formbold-input-group">
              <label for="InvoiceID" class="formbold-form-label"> Invoice ID </label>
              <input
                type="text"
                name="InvoiceID"
                id="InvoiceID"
                placeholder="Enter Invoice ID"
                class="formbold-form-input"
              />
            </div>

            
            <div class="formbold-input-group">
                <label for="StockItemID" class="formbold-form-label"> StockItem ID </label>
                <input
                  type="text"
                  name="StockItemID"
                  id="StockItemID"
                  placeholder="Enter StockItem ID"
                  class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-group">
                <label for="Description" class="formbold-form-label"> Description </label>
                <textarea
                  type="text"
                  rows="4"
                  name="Description"
                  id="Description"
                  placeholder="Enter Description"
                  class="formbold-form-input"
                ></textarea>
            </div>
      

            <div class="formbold-input-group">
                <label for="Quantity" class="formbold-form-label"> Quantity </label>
                <input
                  type="number"
                  name="Quantity"
                  id="Quantity"
                  placeholder="Enter Quantity"
                  class="formbold-form-input"
                />
            </div>
              

            <div class="formbold-input-group">
                <label for="UnitPrice" class="formbold-form-label"> Unit Price </label>
                <input
                  type="text"
                  name="UnitPrice"
                  id="UnitPrice"
                  placeholder="Enter Unit Price"
                  class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-group">
                <label for="LineProfit" class="formbold-form-label"> Line Profit </label>
                <input
                  type="text"
                  name="LineProfit"
                  id="LineProfit"
                  placeholder="Enter Line Profit"
                  class="formbold-form-input"
                />
            </div>


            <div class="formbold-input-group">
                <label for="ExtendedPrice" class="formbold-form-label"> Extended Price </label>
                <input
                  type="text"
                  name="ExtendedPrice"
                  id="ExtendedPrice"
                  placeholder="Enter Extended Price"
                  class="formbold-form-input"
                />
            </div>


            

            <button class="formbold-btn">Add</button>
          </form>
        </div>
      </div>
      
  
  {% endblock %}   
