{% macro list_all(table_object) %}
    <table class="table">
      <thead>
          {% for keys in table_object[0].__dict__.keys() %}
            <th scope="column">{{ keys }}</th>
          {% endfor %}
      </thead>
      
      <tbody>
        
        {% for table_object in table_object %}
        
        <tr>
        {% for key in table_object.__dict__.keys() %}
            {% if key == table_object.__dict__.keys()[0] %}
            
                <th scope="row">{{ table_object[key] }}</th>
            {% else %}
              <td>{{ table_object[key] }}</td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endmacro %}
