
   
    {% extends "layout.html" %}
    {% block title %}AddStockItemHoldings{% endblock %}
    {% block content %}  

<div class="formbold-main-wrapper">
        

        <div class="formbold-form-wrapper">

          <h1 class="title">Add Stock Item Holdings</h1>
       
          <form  method="POST" action="{{url_for('stockitem_holdings_page')}}">
            <div class="formbold-input-group">
              <label for="QuantityOnHand" class="formbold-form-label"> Quantity On Hand </label>
              <input
                type="number"
                name="QuantityOnHand"
                id="QuantityOnHand"
                placeholder="Enter Quantity On Hand"
                class="formbold-form-input"
              />
            </div>

            
            <div class="formbold-input-group">
                <label for="BinLocation" class="formbold-form-label"> Bin Location </label>
                <input
                  type="text"
                  name="BinLocation"
                  id="BinLocation"
                  placeholder="Enter Bin Location"
                  class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-group">
                <label for="LastStocktakeQuantity" class="formbold-form-label"> Last Stocktake Quantity </label>
                <input
                  type="number"
                  name="LastStocktakeQuantity"
                  id="LastStocktakeQuantity"
                  placeholder="Enter Last Stocktake Quantity"
                  class="formbold-form-input"
                />
            </div>
      

            <div class="formbold-input-group">
                <label for="LastCostPrice" class="formbold-form-label"> Last Cost Price</label>
                <input
                  type="text"
                  name="LastCostPrice"
                  id="LastCostPrice"
                  placeholder="Enter Last Cost Price"
                  class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-group">
                <label for="ReorderLevel" class="formbold-form-label">Reorder Level</label>
                <input
                  type="number"
                  name="ReorderLevel"
                  id="ReorderLevel"
                  placeholder="Enter Reorder Level"
                  class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-group">
                <label for="TargetStockLevel" class="formbold-form-label">Target Stock Level</label>
                <input
                  type="number"
                  name="TargetStockLevel"
                  id="TargetStockLevel"
                  placeholder="Enter Target Stock Level"
                  class="formbold-form-input"
                />
            </div>
              

            <button class="formbold-btn">Add</button>
          </form>
        </div>
      </div>
      
  
  {% endblock %}   
