
   
    {% extends "layout.html" %}
    {% block title %}AddStockItems{% endblock %}
    {% block content %}  

<div class="formbold-main-wrapper">
        

        <div class="formbold-form-wrapper">

          <h1 class="title">Add Stock Item</h1>
       
          <form  method="POST" action="{{url_for('stockitems_page')}}">
            <div class="formbold-input-group">
              <label for="StockItemName" class="formbold-form-label"> Stock Item Name </label>
              <input
                type="text"
                name="StockItemName"
                id="StockItemName"
                placeholder="Enter Stock Item Name"
                class="formbold-form-input"
              />
            </div>

            
            <div class="formbold-input-group">
                <label for="LeadTimeDays" class="formbold-form-label"> Lead Time Days </label>
                <input
                  type="number"
                  name="LeadTimeDays"
                  id="LeadTimeDays"
                  placeholder="Enter Lead Time Days"
                  class="formbold-form-input"
                />
            </div>

            <div class="formbold-input-group">
                <label for="UnitPrice" class="formbold-form-label"> Unit Price </label>
                <input
                  type="text"
                  name="UnitPrice"
                  id="UnitPrice"
                  placeholder="Enter Unit Price"
                  class="formbold-form-input"
                />
            </div>
      

            <div class="formbold-input-group">
                <label for="RecommendedRetailPrice" class="formbold-form-label"> Recommended Retail Price</label>
                <input
                  type="text"
                  name="RecommendedRetailPrice"
                  id="RecommendedRetailPrice"
                  placeholder="Enter Recommended Retail Price"
                  class="formbold-form-input"
                />
            </div>
              

            <button class="formbold-btn">Add</button>
          </form>
        </div>
      </div>
      
  
  {% endblock %}   
