{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}   
  <div class="btn-group btn-group-toggle m-5" data-toggle="buttons">
    <label class="btn btn-info btn-lg active">
      <input type="radio" name="options" id="Users" autocomplete="off" checked> Users
    </label>
    <label class="btn btn-info btn-lg">
      <input type="radio" name="options" id="Employee" autocomplete="off"> Employee
    </label>
    <label class="btn btn-info btn-lg">
      <input type="radio" name="options" id="SalesPerson" autocomplete="off"> SalesPerson
    </label>
  </div>
  <u1>
    <li><a href="{{ url_for('add_customers_page') }}">Add Customer Page </a></li>
    </u1>

  
  <div class="m-5 w-50">
    <h1> {{ title }}</h1>
    {{add_macro.list_all(table)}}
  </div>
{% endblock %}
</html>
