{% extends "layout.html" %}
{% block title %}HomePage{% endblock %}
{% block content %}
<div class="container ">
    <div class="row" style="margin-top: 110px; margin-bottom: 110px;">
      <div class="col" style="margin-top: 75px;">
        <p  style="color: #6868ab; font-size: 350%;"><strong>Team Members</strong> </p>
        <div class="row ml-2">
            <img class="mr-1" src="/static/user.png"  style="width:25px;height:25px;">
            <p>Mehmet Eymen Ünay - 040190218</p>
        </div>
        <div class="row ml-2">
            <img class="mr-1" src="/static/user.png"  style="width:25px;height:25px;">
            <p>Esat Gündoğdu - 150190055</p>
        </div>
        <div class="row ml-2">
            <img class="mr-1" src="/static/user.png"  style="width:25px;height:25px;">
            <p>Feyza Özen - 150190014</p>
        </div>

        <div class="row ml-2">
            <img class="mr-1" src="/static/user.png"  style="width:25px;height:25px;">
            <p>Malik Kalembaşı - 150180112</p>
        </div>
       
        <div class="row ml-2">
            <img class="mr-1" src="/static/user.png"  style="width:25px;height:25px;">
            <p>Şule Beyza Karadağ - 150180024</p>
        </div>
       
       
    </div>
      <div class="col">
        <div class="center-block ">
            <img src="/static/home-pic.png" alt="home picture" style="width:450px;height:450px;" class="picture">
        </div>
      </div>
    </div>
</div>

{% endblock %}
