{% extends "layout.html" %}
{% block title %}HomePage{% endblock %}
{% block content %}
    <header>
        <nav>
            <u1>
            <li><a href="{{ url_for('customers_page') }}">Customers Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('people_page') }}">People Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('invoices_page') }}">Invoices Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('invoice_lines_page') }}">Invoices Lines Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('order_lines_page') }}">Order Lines Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('orders_page') }}">Orders Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('stockitems_page') }}">Stockitems Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('stockitem_holdings_page') }}">Stockitem Holdings Page </a></li>
            </u1>

            <u1>
                <li><a href="{{ url_for('stockitem_transactions_page') }}">Stockitem Transactions Page </a></li>
            </u1>


            <u1>
                <li><a href="{{ url_for('customer_transactions_page') }}">Customer Transactions Page </a></li>
            </u1>

        </nav>
    </header>
{% endblock %}