{% macro list_all(table_object, title, context) %}
<table class="table">
  <thead>
    <th scope="column"> </th>
    <th scope="column"> </th>

    {% for keys in table_object[0].__dict__.keys() %}
    <th scope="column">{{ keys }}</th>
    {% endfor %}


  </thead>

  <tbody class="table-item-horizontal" style="vertical-align: middle;" >
    <tr>
      <form method="POST" action="{{url_for(title + '_add')}}">
        <td style="vertical-align: middle;">
            <button class="btn-img-novisual">
          <img src="/static/plus.png" alt="add" style="width:25px;height:25px;">
          </button>
        </td>
        <td style="vertical-align: middle;">
            <button class="btn-img-novisual" formaction="{{url_for(title + '_search')}}" >
          <img src="/static/magnifier.png" alt="add" style="width:25px;height:25px;">
          </button>
        </td>
        {% for keys in table_object[0].__dict__.keys() %}

        <th scope="column">
          <div class="formbold-input-group">
            <label for="{{ keys }}" class="formbold-form-label"></label>
            <input type="text" name='{{ keys }}' id='{{ keys }}' placeholder='{{ keys }}' class="formbold-form-input"
              style="font-size:12px" />
          </div>
        </th>
        {% endfor %}
      </form>
    </tr>

    {% for iter in table_object %}

    <tr>
      <td style="vertical-align: middle;">
        <a style="color:white; text-decoration: none;"
          href="{{url_for(title + '_delete', delete_id=iter.__dict__.values())}}">
          <img src="/static/trash-can.png" alt="delete" style="width:25px;height:25px;">
        </a>
      </td>
      {% if iter[context.selectedIDColumn] == context.selectedID %}
      <form method="POST" action="{{url_for(title + '_update', update_id=iter.__dict__.values())}}">
        <td>
          <a style="color:white; text-decoration: none;">
            <button class="update-btn">
              Done
            </button>
          </a>
        </td>

      {%else %}

      <td  style="vertical-align: middle;">
        <a style="color:white; text-decoration: none;"
          href="{{url_for(title + '_update', update_id=iter.__dict__.values())}}">
          <img src="/static/edit.png" alt="update" style="width:25px;height:25px;">
        </a>
      </td>
      {% endif%}

      {% if context.isEdit == True and iter[context.selectedIDColumn] == context.selectedID %}
   
          {% for keys in table_object[0].__dict__.keys() %}

          <th scope="column">
            <div class="formbold-input-group">
              <label for="{{ keys }}" class="formbold-form-label"></label>
              <input type="text" name='{{ keys }}' id='{{ keys }}' placeholder='{{ keys }}' class="formbold-form-input"
                style="font-size:12px" />
            </div>
          </th>
          {% endfor %}
        </form>
      {%else %}

      {% for key in iter.__dict__.keys() %}
      <td style="vertical-align: middle;">{{ iter[key] }}</td>
      {% endfor %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
