

{% macro list_all(table_object, title) %}
<div class="btn-group btn-group-toggle m-5"  style="padding: 10px, 10px;" data-toggle="buttons">
  <label class="btn btn-info btn-m">
    <a type="radio" name="options" id="Find Customer" autocomplete="off" href="{{ url_for('add_customers_page') }}" style="color: white">Find</a>
  </label>
</div>

    <table class="table">
      <thead>

            <th scope="column">Add/Delete/Edit</th>

          {% for keys in table_object[0].__dict__.keys() %}
            <th scope="column">{{ keys }}</th>
          {% endfor %}


      </thead>
      
      <tbody>
        <tr>
          <td>
            <button class="add-btn" style="background-color:rgb(36, 228, 74); margin-top: 16px;">
              <a style="color:white; text-decoration: none;" href="">add</a>
            </button>
          </td>
          {% for keys in table_object[0].__dict__.keys() %}
          <form>
          <th scope="column">
            <div class="formbold-input-group">
              <label for="{{ keys }}" class="formbold-form-label" ></label>
              <input
                type="text"
                name='{{ keys }}'
                id='{{ keys }}'
                placeholder='{{ keys }}'
                class="formbold-form-input"
                style="font-size:12px"
              />
            </div>
          </th>
          {% endfor %}
          </form>
        </tr>
        
        {% for table_object in table_object %}
        
        <tr>
          <td>
            <button class="del-btn" style="background-color:rgb(255, 148, 27)">
              <a style="color:white; text-decoration: none;" href="">edit</a>
            </button>
            <button class="del-btn">
              <a style="color:white; text-decoration: none;" href="">delete</a>
            </button>
          </td>
        {% for key in table_object.__dict__.keys() %}
            {% if key == table_object.__dict__.keys()[0] %}
            
                <th scope="row">{{ table_object[key] }}</th>
            {% else %}
              <td>{{ table_object[key] }}</td>
            {% endif %}
        {% endfor %}

        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endmacro %}
