
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        body {
          font-family: 'Inter', sans-serif;
        }
        .formbold-main-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 48px;
        }
      
        .formbold-form-wrapper {
          margin: 0 auto;
          max-width: 570px;
          width: 100%;
          background: white;
          padding: 40px;
        }
      
        .formbold-form-img {
          margin-bottom: 45px;
        }
      
        .formbold-input-group {
          margin-bottom: 18px;
        }
      
        .formbold-form-select {
          width: 100%;
          padding: 12px 22px;
          border-radius: 5px;
          border: 1px solid #dde3ec;
          background: #ffffff;
          font-size: 16px;
          color: #536387;
          outline: none;
          resize: none;
        }
      
        .formbold-input-radio-wrapper {
          margin-bottom: 25px;
        }
        .formbold-radio-flex {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        .formbold-radio-label {
          font-size: 14px;
          line-height: 24px;
          color: #07074d;
          position: relative;
          padding-left: 25px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .formbold-input-radio {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        .formbold-radio-checkmark {
          position: absolute;
          top: -1px;
          left: 0;
          height: 18px;
          width: 18px;
          background-color: #ffffff;
          border: 1px solid #dde3ec;
          border-radius: 50%;
        }
        .formbold-radio-label
          .formbold-input-radio:checked
          ~ .formbold-radio-checkmark {
          background-color: #6a64f1;
        }
        .formbold-radio-checkmark:after {
          content: '';
          position: absolute;
          display: none;
        }
      
        .formbold-radio-label
          .formbold-input-radio:checked
          ~ .formbold-radio-checkmark:after {
          display: block;
        }
      
        .formbold-radio-label .formbold-radio-checkmark:after {
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #ffffff;
          transform: translate(-50%, -50%);
        }
      
        .formbold-form-input {
          width: 100%;
          padding: 13px 22px;
          border-radius: 5px;
          border: 1px solid #dde3ec;
          background: #ffffff;
          font-weight: 500;
          font-size: 16px;
          color: #07074d;
          outline: none;
          resize: none;
        }
        .formbold-form-input::placeholder {
          color: #536387;
        }
        .formbold-form-input:focus {
          border-color: #6a64f1;
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }
        .formbold-form-label {
          color: #07074d;
          font-size: 14px;
          line-height: 24px;
          display: block;
          margin-bottom: 10px;
        }
      
        .formbold-btn {
          text-align: center;
          width: 100%;
          font-size: 16px;
          border-radius: 5px;
          padding: 14px 25px;
          border: none;
          font-weight: 500;
          background-color: #6a64f1;
          color: white;
          cursor: pointer;
          margin-top: 25px;
        }
        .formbold-btn:hover {
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

        .center-block {
          margin-left: 100px;
          margin-right:auto;
          display:block;
       }

        .wrapper {
          max-width: 1140px;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-left: 150px;
          margin-right: auto;
        }
        
        *,
        *:before,
        *:after {
          box-sizing: border-box;
        }
        
        a {
          text-decoration: none;
          color: #ffffff;
        }
        
        ul {
          list-style-type: none;
        }
        
        .button {
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          color: #fff;
          background-color: #2fa0f6;
          min-width: 120px;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          text-align: center;
        }
        
        .button svg {
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          fill: #fff;
        }
        
        .button span {
          display: none;
        }
        
        @media (min-width: 600px) {
          .button span {
            display: initial;
          }
        }
        
        .button--icon {
          min-width: initial;
          padding: 0.5rem;
        }
        
    
        .del-btn {
          text-align: center;
          width: 100%;
          font-size: 12px;
          border-radius: 5px;
          padding: 6px 14px;
          border: none;
          font-weight: 500;
          background-color: #e93bba;
          color: white;
          cursor: pointer;
        }

        .update-btn {
          text-align: center;
          width: 100%;
          font-size: 12px;
          border-radius: 5px;
          padding: 6px 14px;
          border: none;
          font-weight: 500;
          background-color: #6868ab;
          color: white;
          cursor: pointer;
          margin-top: 18px;
        }

        .del-btn:hover {
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

        .del-btn:visited {
          color: white;
        }

        .table-item-horizontal{
          text-align: center;
        }
        .table-item-vertical{
          vertical-align: middle;
        }
        .btn-img-novisual{
background-color: transparent;box-shadow: none;border: none; border-width : 0; border : 0;outline: none;
        }


      
