<!DOCTYPE html>
<html>
  <head>
    <title>People Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="btn-group btn-group-toggle m-5" data-toggle="buttons">
      <label class="btn btn-info btn-lg active">
        <input type="radio" name="options" id="Users" autocomplete="off" checked> Users
      </label>
      <label class="btn btn-info btn-lg">
        <input type="radio" name="options" id="Employee" autocomplete="off"> Employee
      </label>
      <label class="btn btn-info btn-lg">
        <input type="radio" name="options" id="SalesPerson" autocomplete="off"> SalesPerson
      </label>
    </div>

    <div class="m-5 w-50">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">E-Mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Kayla Woodcock</td>
            <td>(415) 555-0102</td>
            <td>kaylaw@wideworldimporters.com</td>
          </tr>
          
        </tbody>
      </table>
  

    </div>

  </body>
</html>